<div class="master-container" >
    <!-- <div class="sidebar-container" [ngClass]="{ 'show': !sidebarHidden, 'hidden': sidebarHidden }" > -->
        <!-- <div class="fixed-sidebar" > -->

        <app-sidebar class="sidebar-container" #sidebar [ngClass]="{ 'show': !sidebarHidden, 'hidden': sidebarHidden }" ></app-sidebar>

        <!-- </div> -->
        
    <!-- </div> -->
    <div class="main-container">
        <div class="navbar-container">
            <app-navbar (click)="toggleSidebar()"></app-navbar>
        </div>
        <div class="searchbar-container">
            <app-searchbar></app-searchbar>
        </div>
        <div class="main">
            
            <router-outlet></router-outlet>
        </div>
    </div>
</div>