<div class='header'>

    <div class="header-center">
      <div class="searchbar-container">
        <app-searchbar></app-searchbar>
      </div>
    </div>

    <div class="header-end">
        <!-- <div class="items"><p>Contacts</p></div> -->
        <div class="items"><i class="fas fa-bell"></i></div>
        <div class="items"><i class="fas fa-message"></i></div>
        <div class="items profile-item">
            <div class="profile-img-container">
                <img src='assets/profile.jpg' alt=""  class='profile-img' />
            </div>
            <div class="profile-name">
                <p class="name">Ena Elena Otuokon</p>
                <p class="status">Admin</p>
            </div>
        </div>
    </div>


    <div class="items hamburger" >
      <button class="hamburger-icon" (click)="onToggleSidebar()">
      &#9776;
      </button>
    </div>
</div>