*{
    margin: 0;
    padding: 0;
}


.members-header{
    display: flex;
    justify-content: end;
    align-items: end;
    width: 100%;
}

.members-header-small{
    width: 35.7%;
    // height: 200px;
    // background-color: red;
}
.main-section{
    margin: 0 1rem;
}
.main-section-title{
    font-size: 1.5em;
    text-transform: capitalize;
    color: #224957;
    margin-bottom: 1rem;
}
.members-top{
    padding: 1rem;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


.members-bottom{
    padding: 1rem;
    box-sizing: border-box;
    display: flex;

}
.sponsors-container{
    width: 20%;
}
.product-design-container{
    width: 57%;
}
.qa-container{
    width: 20%;
}


.management-container{
    width: 25%;
}
.user-interface-container{
    width: 25%;
    margin: 0 2rem;
}
.new-members-stats-container{
    width: 20%;
}
.hidden{
    display: none;
}
.new-members-stats{
    height: 300px;
    border-radius: 15px;
    background: rgb(34,73,87);
    background: linear-gradient(0deg, rgba(34,73,87,1) 11%, rgba(46,183,114,1) 100%);
    padding: 2rem;
    

    .fa-user-plus{
        font-size: 1.7rem;
        color: #224957;
    }
    p{
        margin: 0;
    }
    .t1{
        margin: 0.5rem 0;
        color: #fff;
        font-size: large;
        font-weight: 600;
    }
    .t2{
        margin: 0.5rem 0;
        color: #fff;
        font-size: medium;
        font-weight: 300;
    }
    .t3{
        color: #224957;
    }
}


@media screen and (max-width: 992px){
    .md-hidden{
        display: none;
    }
    .show{
        display: block;
    }
    .show-sm{
        display: block;
    }
    .sponsors-container{
        width: 49%;
    }
    .product-design-container{
        width: 100%;
        margin-top: 1rem;
    }
    .qa-container{
        width: 49%;
    }


    .members-bottom{
        justify-content: space-between;
    }
    .management-container{
        width: 49%;
    }
    .user-interface-container{
        width: 49%;
        margin: 0;
    }
    .new-members-stats-container{
        margin-top: 1rem;
        width: 100%;
    }

}

@media screen and (max-width: 767px){
    .main-section-title{
        font-size: 1.3rem;
    }
    .hidden{
        display: block;
    }
    .xsm-show{
        display: none;
    }
    .show-sm{
        display: none;
    }
    .sm-show{
        display: block;
    }
    .qa-container{
        width: 100%;
        margin-top: 1rem;
    }
    .sponsors-container{
        width: 100%;
    }
    .members-bottom{
        display: block;
    }
    .management-container{
        width: 100%;
    }
    .user-interface-container{
        width: 100%;
        margin-top: 1rem;
    }

}