<div class="sidebar">
    <div class="side-bar-header">
      <img src='assets/logo.png' alt="" width={250} />

    </div>
    
    <div class="side-bar-body">
        <div class="items"  routerLink="dashboard">
          <!-- <a href="/dashboard"> Dashboard</a> -->
          <div class="d-flex">
            <i class="fas fa-dashboard"></i>
          <p>Dashboard</p>
          </div>
        </div>

        <div class="items" (click)="toggleDropdown('sales')" [class.active]="activeItem === 'sales'">
          <!-- <a href="/members"> Members</a> -->
          
          <div class="d-flex">
            <i class="fas fa-receipt"></i>
            <p>Sales</p>
          </div>

          <div class="list-item-content" *ngIf="dropdownOpen === 'sales'">
            <p>Option 1</p>
            <p >Option 2</p>
            <p >Option 3</p>
          </div>
        </div>

        <div class="items" (click)="toggleDropdown('inventoty')" [class.active]="activeItem === 'inventoty'">
          <!-- <a href="/projects"> Projects</a> -->
          <div class="d-flex">
            <i class="fas fa-project-diagram"></i>
          <p>Inventory</p>
          </div>

          <div class="list-item-content" *ngIf="dropdownOpen === 'inventoty'">
            <p>Option 1</p>
            <p>Option 2</p>
            <p>Option 3</p>
          </div>
        </div>

        <div class="items" (click)="toggleDropdown('procurement')" [class.active]="activeItem === 'procurement'">
          <!-- <a href="/projects"> Projects</a> -->
          <div class="d-flex">
            <i class="fas fa-project-diagram"></i>
          <p>Procurement</p>
          </div>

          <div class="list-item-content" *ngIf="dropdownOpen === 'procurement'">
            <p>Option 1</p>
            <p>Option 2</p>
            <p>Option 3</p>
          </div>
        </div>

        <div class="items" (click)="toggleDropdown('finance')" [class.active]="activeItem === 'finance'">
          <!-- <a href="/accounting"> Accounting</a> -->
          <div class="d-flex">
            <i class="fas fa-file-invoice"></i>
          <p>Finance</p>
          </div>


          <div class="list-item-content" *ngIf="dropdownOpen === 'finance'">
            <p>Option 1</p>
            <p>Option 2</p>
            <p>Option 3</p>
          </div>
        </div>

        <div class="items" (click)="toggleDropdown('human-resource')" [class.active]="activeItem === 'human-resource'">
          <!-- <a href="/sales"> Sales</a> -->
          <div class="d-flex">
            <i class="fas fa-users"></i>
          <p>Human Resource</p>
          </div>

          <div class="list-item-content" *ngIf="dropdownOpen === 'human-resource'">
            <p>Option 1</p>
            <p>Option 2</p>
            <p>Option 3</p>
          </div>
        </div>

        <div class="items" (click)="toggleDropdown('crm')" [class.active]="activeItem === 'crm'">
          <!-- <a href="/customers"> Customers</a> -->
          <div class="d-flex">
            <i class="fas fa-people-group"></i>
          <p>CRM</p>
          </div>


          <div class="list-item-content" *ngIf="dropdownOpen === 'crm'">
            <p>Option 1</p>
            <p>Option 2</p>
            <p>Option 3</p>
          </div>
        </div>

        <div class="items" (click)="toggleDropdown('report-analytics')" [class.active]="activeItem === 'report-analytics'">
          <!-- <a href="/"> Chat Support</a> -->
          <div class="d-flex">
            <i class="fas fa-headset"></i>
          <p>Report and Analysis</p>
          </div>


          <div class="list-item-content" *ngIf="dropdownOpen === 'report-analytics'">
            <p>Option 1</p>
            <p>Option 2</p>
            <p>Option 3</p>
          </div>
        </div>

        <div class="items" (click)="toggleDropdown('settings')" [class.active]="activeItem === 'settings'" routerLink="settings">
          <!-- <a href="/settings"> Settings</a> -->
          <div class="d-flex">
            <i class="fas fa-gears"></i>
          <p>Settings</p>
          </div>
        </div>
    </div>
</div>